
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */
.Category {
  padding: 10px;
}

@media (min-width: 720px) {
  .Category {
    padding: 24px;
  }
}

.Category .ErrorList {
  margin: 10px 10px 0;
}