
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */

/* Firefox Colors SCSS Variables v1.3.0 */
.CategoryIcon-1 {
  background-color: #fa5252;
}

.CategoryIcon-2 {
  background-color: #e64980;
}

.CategoryIcon-3 {
  background-color: #be4bdb;
}

.CategoryIcon-4 {
  background-color: #7950f2;
}

.CategoryIcon-5 {
  background-color: #4c6ef5;
}

.CategoryIcon-6 {
  background-color: #228ae6;
}

.CategoryIcon-7 {
  background-color: #15aabf;
}

.CategoryIcon-8 {
  background-color: #12b886;
}

.CategoryIcon-9 {
  background-color: #40c057;
}

.CategoryIcon-10 {
  background-color: #82c91e;
}

.CategoryIcon-11 {
  background-color: #fab005;
}

.CategoryIcon-12 {
  background-color: #fd7e14;
}