
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */

/* Firefox Colors SCSS Variables v1.3.0 */
@media (min-width: 720px) {
  .Categories .Card-contents {
    padding-bottom: 12px;
  }
}

[dir=ltr] .Categories-loadingText {
  margin-right: 5px;
}

[dir=rtl] .Categories-loadingText {
  margin-left: 5px;
}

.Categories-list {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.Categories-item {
  display: inline-block;
  margin: 0 0 12px;
  padding: 0;
}

[dir=ltr] .Categories-item {
  margin-right: 12px;
}

[dir=rtl] .Categories-item {
  margin-left: 12px;
}

.Categories-link,
.Categories-link:link,
.Categories-link:visited,
.Categories-link:hover,
.Categories-link:active {
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding: 10px 12px 8px;
  text-decoration: none;
}

.Categories--category-color-1 {
  background: #fa5252;
}

.Categories--category-color-1:focus, .Categories--category-color-1:hover {
  background: #e00606;
}

.Categories--category-color-2 {
  background: #e64980;
}

.Categories--category-color-2:focus, .Categories--category-color-2:hover {
  background: #b1184e;
}

.Categories--category-color-3 {
  background: #be4bdb;
}

.Categories--category-color-3:focus, .Categories--category-color-3:hover {
  background: #8620a0;
}

.Categories--category-color-4 {
  background: #7950f2;
}

.Categories--category-color-4:focus, .Categories--category-color-4:hover {
  background: #3f0fcd;
}

.Categories--category-color-5 {
  background: #4c6ef5;
}

.Categories--category-color-5:focus, .Categories--category-color-5:hover {
  background: #0c33cf;
}

.Categories--category-color-6 {
  background: #228ae6;
}

.Categories--category-color-6:focus, .Categories--category-color-6:hover {
  background: #105592;
}

.Categories--category-color-7 {
  background: #15aabf;
}

.Categories--category-color-7:focus, .Categories--category-color-7:hover {
  background: #0b5863;
}

.Categories--category-color-8 {
  background: #12b886;
}

.Categories--category-color-8:focus, .Categories--category-color-8:hover {
  background: #095b42;
}

.Categories--category-color-9 {
  background: #40c057;
}

.Categories--category-color-9:focus, .Categories--category-color-9:hover {
  background: #267434;
}

.Categories--category-color-10 {
  background: #82c91e;
}

.Categories--category-color-10:focus, .Categories--category-color-10:hover {
  background: #497011;
}

.Categories--category-color-11 {
  background: #fab005;
}

.Categories--category-color-11:focus, .Categories--category-color-11:hover {
  background: #966a03;
}

.Categories--category-color-12 {
  background: #fd7e14;
}

.Categories--category-color-12:focus, .Categories--category-color-12:hover {
  background: #aa4e01;
}