/* Addon 
HTML (Pug)

div(dir='ltr')
  header.Addon-header
    div.Addon-icon
      img(alt="" src="").Addon-icon-image
    h1.Addon-title Title
      span.Addon-author by
        a(href="https://addons.mozilla.org/") Author
    div.Addon-summary-and-install-button-wrapper
      p.Addon-summary Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quaerat! Accusamus nobis neque at magni excepturi veniam temporibus 
                      | vero facilis iure sequi unde, similique repellat alias doloremque quam numquam!

*/
.Addon {
  padding: 10px;
}

@media (min-width: 720px) {
  .Addon {
    padding: 24px;
  }
}

.Addon .Card {
  margin-bottom: 10px;
}

@media (min-width: 720px) {
  .Addon .Card {
    margin-bottom: 24px;
  }
}

.Addon-icon {
  min-height: 72px;
}

@media (min-width: 500px) {
  .Addon-icon {
    min-height: 96px;
  }
}

.Addon-icon-image {
  height: 48px;
  width: 48px;
}

@media (min-width: 500px) {
  .Addon-icon-image {
    height: 64px;
    width: 64px;
  }
}

@media (min-width: 720px) {
  .Addon-header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 720px) {
  .Addon-header-info-card {
    width: 65%;
  }
  [dir=ltr] .Addon-header-info-card {
    margin-right: 24px;
  }
  [dir=rtl] .Addon-header-info-card {
    margin-left: 24px;
  }
}

.Addon-header-info-card .AddonCompatibilityError {
  margin: 0;
  margin-bottom: 12px;
}

@media (min-width: 720px) {
  .Addon-header-meta-and-ratings {
    min-width: 300px;
    width: 35%;
  }
}

.Addon-title {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #343a40;
  font-size: 24px;
  margin: 0 0 24px;
  width: 100%;
  word-wrap: break-word;
}

.Addon-persona .Addon-title {
  margin: 24px 0;
}

@media (min-width: 500px) {
  .Addon-title {
    font-size: 36px;
  }
}

.Addon-author {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  display: block;
  word-wrap: break-word;
}

.Addon-author,
.Addon-author a,
.Addon-author a:link {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

@media (min-width: 500px) {
  .Addon-author,
  .Addon-author a,
  .Addon-author a:link {
    font-size: 24px;
  }
}

.Addon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.Addon-theme-header {
  border-radius: 9px;
  max-height: 90px;
  min-height: 45px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.Addon-theme-header-label {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.Addon-theme-header-image {
  display: block;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
  width: 100%;
}

.Addon-summary-and-install-button-wrapper {
  width: 100%;
}

@media (min-width: 500px) {
  .Addon-summary-and-install-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.Addon-summary {
  font-size: 14px;
  overflow-x: auto;
  word-wrap: break-word;
}

@media (min-width: 500px) {
  .Addon-summary {
    max-width: 550px;
  }
  [dir=ltr] .Addon-summary {
    margin-right: 24px;
  }
  [dir=rtl] .Addon-summary {
    margin-left: 24px;
  }
}

.AddonDescription-contents {
  word-wrap: break-word;
}

@media (min-width: 500px) {
  .Addon .InstallButton {
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  [dir=ltr] .Addon .InstallButton {
    margin-left: auto;
  }
  [dir=rtl] .Addon .InstallButton {
    margin-right: auto;
  }
}

.Addon .InstallButton-button {
  width: 100%;
}

@media (min-width: 500px) {
  .Addon .InstallButton-button {
    width: auto;
  }
}


@media (min-width: 720px) {
  .Addon-details {
    display: grid;
    grid-auto-flow: column dense;
    grid-gap: 0 24px;
    grid-template-columns: minmax(300px, 35%) auto;
    margin: 0;
  }
  .Addon-details .Addon-main-content {
    grid-column: 2;
    grid-row: 1 / span 100000;
    max-width: 100%;
    overflow-x: hidden;
  }
  .Addon-details .AddonDescription-contents {
    max-width: 550px;
  }
  .Addon-screenshots {
    overflow-x: hidden;
  }
}