
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */
.Overlay-contents .AddonReview .Card-contents {
  background: #ffffff;
  max-height: 80vh;
  padding: 10px 0;
}

.Overlay-contents .AddonReview .Rating {
  margin: 6px 0 12px;
}

.AddonReview-form-input {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

.AddonReview-form-input,
.AddonReview-prompt {
  padding: 0 10px;
}

.AddonReview-prompt {
  margin: 0;
}

.AddonReview-header {
  font-size: 24px;
  margin-bottom: 12px;
}

.AddonReview-textarea,
.AddonReview-submit {
  border: 2px solid #000000;
  border-radius: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 12px;
  padding: .7em;
  text-align: left;
  width: 100%;
}

.AddonReview-textarea {
  min-height: 125px;
  resize: vertical;
}

@media (min-width: 500px) {
  .AddonReview-textarea {
    min-height: 200px;
  }
}

.AddonReview-submit {
  background: none;
  border: 0;
  border-radius: 0;
  border-top: 2px solid #0568ba;
  color: #0568ba;
  font-size: 12px;
  margin-bottom: 0;
  padding: 15px 0 5px;
  text-align: center;
  vertical-align: bottom;
}

/* Firefox Colors SCSS Variables v1.3.0 */

/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */
.AddonReviewListItem {
  word-wrap: break-word;
}

.AddonReviewListItem .Rating {
  margin: 0;
}

[dir=ltr] .AddonReviewListItem .Rating {
  margin-right: 6px;
}

[dir=rtl] .AddonReviewListItem .Rating {
  margin-left: 6px;
}

.AddonReviewListItem .ErrorList {
  margin-top: 6px;
}

.AddonReviewListItem-review-header {
  margin: 0;
  padding: 0;
}

.AddonReviewListItem-body {
  font-size: 14px;
  margin: 0 0 6px;
  word-wrap: break-word;
}

.AddonReviewListItem-byline {
  color: #6a6a6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.AddonReviewListItem-byline a:link:not(.Button),
.AddonReviewListItem-byline a:visited:not(.Button),
.AddonReviewListItem-byline a:hover:not(.Button),
.AddonReviewListItem-byline a:active:not(.Button) {
  color: #0a84ff;
  font-weight: normal;
  text-decoration: none;
}

.AddonReviewListItem-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[dir=ltr] .AddonReviewListItem-control {
  margin-left: 6px;
}

[dir=rtl] .AddonReviewListItem-control {
  margin-right: 6px;
}

@media (min-width: 500px) {
  [dir=ltr] .AddonReviewListItem-control {
    margin-left: 24px;
  }

  [dir=rtl] .AddonReviewListItem-control {
    margin-right: 24px;
  }
}

[dir=ltr] .AddonReviewListItem-control .Icon-reply-arrow {
  margin-right: 6px;
}

[dir=rtl] .AddonReviewListItem-control .Icon-reply-arrow {
  margin-left: 6px;
}

.AddonReviewListItem-reply {
  background-color: rgba(10, 132, 255, .05);
  border-radius: 9px;
  margin-top: 12px;
  padding: 12px;
}

@media (min-width: 500px) {
  .AddonReviewListItem-reply {
    margin-top: 24px;
    padding: 24px;
  }

  [dir=ltr] .AddonReviewListItem-reply {
    margin-left: 12px;
  }

  [dir=rtl] .AddonReviewListItem-reply {
    margin-right: 12px;
  }
}

.AddonReviewListItem-reply-header {
  margin: 0 0 6px;
}

[dir=ltr] .AddonReviewListItem-reply-header .Icon-reply-arrow {
  margin-right: 12px;
}

[dir=rtl] .AddonReviewListItem-reply-header .Icon-reply-arrow {
  margin-left: 12px;
}


/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */

/* Firefox Colors SCSS Variables v1.3.0 */
.AddonReviewList {
  padding: 10px;
}

@media (min-width: 720px) {
  .AddonReviewList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px;
  }
}

.AddonReviewList .Card {
  margin-bottom: 10px;
}

@media (min-width: 720px) {
  .AddonReviewList .Card {
    margin-bottom: 24px;
  }
}

.AddonReviewList .CardList {
  margin: 0 0 8px;
  min-width: 50%;
}

@media (min-width: 720px) {
  .AddonReviewList-addon {
    min-width: 300px;
    width: 35%;
  }
}

@media (min-width: 720px) {
  .AddonReviewList-reviews {
    width: 65%;
  }

  [dir=ltr] .AddonReviewList-reviews {
    margin-left: 24px;
  }

  [dir=rtl] .AddonReviewList-reviews {
    margin-right: 24px;
  }
}

.AddonReviewList-header {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 0 0 12px;
}

.AddonReviewList-header-icon {
  align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  height: 36px;
}

[dir=ltr] .AddonReviewList-header-icon {
  margin-right: 12px;
}

[dir=rtl] .AddonReviewList-header-icon {
  margin-left: 12px;
}

.AddonReviewList-header-text {
  min-width: 50%;
}

.AddonReviewList-header-icon-image {
  display: block;
  height: 36px;
}

.AddonReviewList-header-addonName {
  font-size: 18px;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.AddonReviewList-header-addonName a,
.AddonReviewList-header-addonName a:link {
  color: #0d96ff;
  text-decoration: none;
}

.AddonReviewList-header-authors {
  font-size: font-size-m;
  margin: 0;
  padding: 0;
}

.AddonReviewList-header-authors a,
.AddonReviewList-header-authors a:link {
  color: #343a40;
}