
/* Firefox Colors SCSS Variables v1.3.0 */
/* Font mixins. Changes here affect *all* apps */
/* Shared mixins. Bear in mind changes here impact *all* apps. */
@media (min-width: 720px) {
  .Search {
    display: grid;
    grid-auto-flow: column dense;
    grid-gap: 24px;
    grid-template-columns: minmax(300px, 35%) 1fr;
    padding: 24px;
  }
}

.Search .Card {
  margin: 10px;
}

@media (min-width: 720px) {
  .Search .Card {
    margin: 0;
  }
}

.Search .SearchSort {
  margin: 10px;
}

@media (min-width: 720px) {
  .Search .SearchSort {
    margin: 0;
  }
}

@media (min-width: 720px) {
  .Search .SearchContextCard {
    grid-column: 1 / -1;
    grid-row: 1;
    min-width: 0;
  }
}

@media (min-width: 720px) {
  .Search .SearchSort {
    grid-column: 1 / 2;
    grid-row: 2;
  }
}

@media (min-width: 720px) {
  .Search .SearchResults {
    grid-column: 2;
    grid-row: 2 / 5;
    min-width: 0;
    width: 100%;
  }
  .Search .SearchResults .SearchResult {
    padding: 24px 36px;
  }
}

@media (min-width: 720px) {
  .Search .Paginate {
    grid-column: 2;
  }
}

.Search .SearchResults-message {
  background: #fff;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-top: 0;
  padding: 20px;
  word-wrap: break-word;
}

.Search .ErrorList {
  margin: 10px 10px 0;
}

@media (min-width: 720px) {
  .Search .ErrorList {
    margin: 0;
  }
}