
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */

/* Firefox Colors SCSS Variables v1.3.0 */
.SearchForm {
  position: relative;
}

.SearchForm-icon-magnifying-glass {
  left: 6px;
  position: absolute;
  right: auto;
  top: 6px;
}

[dir=rtl] .SearchForm-icon-magnifying-glass {
  left: auto;
  right: 6px;
}

.SearchForm-query {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #343a40;
  height: 27px;
  line-height: 27px;
  outline: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

[dir=ltr] .SearchForm-query {
  padding-right: 6px;
}

[dir=rtl] .SearchForm-query {
  padding-left: 6px;
}

[dir=ltr] .SearchForm-query {
  padding-left: 28px;
}

[dir=rtl] .SearchForm-query {
  padding-right: 28px;
}

.SearchForm-query:hover {
  border-color: #00feff;
}

.SearchForm-query:focus {
  border-color: #00feff;
  -webkit-box-shadow: inset 0 0 2px 0 #0a84ff, 0 0 3px 0 rgba(10, 132, 255, .7);
  box-shadow: inset 0 0 2px 0 #0a84ff, 0 0 3px 0 rgba(10, 132, 255, .7);
  outline: none;
}

@media (min-width: 500px) {
  [dir=ltr] .SearchForm-query {
    padding-right: 28px;
  }

  [dir=rtl] .SearchForm-query {
    padding-left: 28px;
  }
}

.SearchForm--autocompleteIsOpen .SearchForm-query {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.SearchForm-submit-button {
  display: none;
}

@media (min-width: 500px) {
  .SearchForm-submit-button {
    display: block;
    left: auto;
    position: absolute;
    right: 0;
    top: 6px;
  }

  [dir=rtl] .SearchForm-submit-button {
    left: 0;
    right: auto;
  }
}

.SearchForm-suggestions-list {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 1px 4px 3px rgba(52, 58, 64, .5);
  box-shadow: 1px 4px 3px rgba(52, 58, 64, .5);
  color: #343a40;
  left: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 5;
}

[dir=rtl] .SearchForm-suggestions-list {
  left: 0;
  right: auto;
}

.SearchForm-suggestions-item {
  cursor: pointer;
  display: block;
  outline: none;
  padding: 5px 6px;
  width: 100%;
}

.SearchForm-suggestions-item:hover,
.SearchForm-suggestions-item:active,
.SearchForm-suggestions-item:focus,
.SearchForm-suggestions-item--highlighted {
  color: #0d96ff;
  white-space: normal;
}

.SearchForm-suggestions-item:hover .SearchSuggestion-icon-arrow,
.SearchForm-suggestions-item:active .SearchSuggestion-icon-arrow,
.SearchForm-suggestions-item:focus .SearchSuggestion-icon-arrow,
.SearchForm-suggestions-item--highlighted .SearchSuggestion-icon-arrow {
  display: block;
}

.LanguagePicker-header {
  margin: 0 0 5px;
}