
/* Firefox Colors SCSS Variables v1.3.0 */
/* Font mixins. Changes here affect *all* apps */
/* Shared mixins. Bear in mind changes here impact *all* apps. */
/* Firefox Colors SCSS Variables v1.3.0 */
.Footer {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #051818;
  color: #fff;
  font-weight: lighter;
  width: 100%;
}

.Footer a:link,
.Footer a:visited,
.Footer a:hover,
.Footer a:active {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  margin: 0 0 12px;
  text-decoration: none;
}

.Footer a:active,
.Footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.Footer-wrapper {
  padding: 58px 20px;
}

@media (min-width: 500px) {
  .Footer-wrapper {
    padding: 58px 24px;
  }
}

@media (min-width: 720px) {
  .Footer-wrapper {
    display: grid;
    grid-template-areas: "logo amo-links firefox-links" "legal-links legal-links legal-links" "copyright copyright language";
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
  }
}

.Footer-amo-links {
  grid-area: amo-links;
}

.Footer-firefox-links {
  grid-area: firefox-links;
}

.Footer-links-header {
  margin: 40px 0 0;
}

@media (min-width: 720px) {
  .Footer-links-header {
    margin: 0;
  }
}

.Footer-links-header a:link,
.Footer-links-header a:visited {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.Footer-links {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.Footer-links li {
  display: block;
  margin-top: 10px;
}

.Footer-links .Footer-link-social {
  display: inline-block;
}

[dir=ltr] .Footer-links .Footer-link-social {
  margin-right: 20px;
}

[dir=rtl] .Footer-links .Footer-link-social {
  margin-left: 20px;
}

.Footer-legal-links {
  grid-area: legal-links;
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.Footer-legal-links li {
  display: inline-block;
}

[dir=ltr] .Footer-legal-links li {
  margin-right: 30px;
}

[dir=rtl] .Footer-legal-links li {
  margin-left: 30px;
}

.Footer-legal-links a:link {
  font-size: 12px;
}

.Footer-links-social {
  margin-top: 30px;
}

.Footer-copyright {
  font-size: 12px;
  grid-area: copyright;
}

[dir=ltr] .Footer-copyright {
  padding-right: 20px;
}

[dir=rtl] .Footer-copyright {
  padding-left: 20px;
}

.Footer-copyright a:link,
.Footer-copyright a:visited {
  color: #b1b1b3;
  font-size: 12px;
}

.Footer-mozilla-link-wrapper {
  grid-area: logo;
}

.Footer-mozilla-link {
  display: inline-block;
  margin-top: 10px;
}

@media (min-width: 500px) {
  .Footer-mozilla-link {
    margin-bottom: auto;
  }
}

.Footer-language-picker {
  grid-area: language;
  margin-top: 40px;
}

@media (min-width: 500px) {
  .Footer-language-picker {
    margin-top: 7px;
  }
}

.Footer-language-picker .LanguagePicker-header {
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
}

[dir=ltr] .Footer-language-picker .LanguagePicker-header {
  margin-right: 20px;
}

[dir=rtl] .Footer-language-picker .LanguagePicker-header {
  margin-left: 20px;
}

.Footer-language-picker .LanguagePicker-selector {
  color: #343a40;
  display: inline-block;
}