
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */

/* Firefox Colors SCSS Variables v1.3.0 */
.LandingPage {
  padding: 10px;
}

@media (min-width: 720px) {
  .LandingPage {
    padding: 24px;
  }
}

.LandingPage-header {
  background-color: #ffffff;
  border-radius: 9px;
  margin-bottom: 12px;
  padding: 24px;
}

@media (min-width: 500px) {
  .LandingPage-header {
    padding: 48px 36px;
  }
}

@media (min-width: 720px) {
  .LandingPage-header {
    margin-bottom: 24px;
  }
}

.LandingPage-button {
  width: 100%;
}

@media (min-width: 500px) {
  .LandingPage-button {
    display: none;
  }
}

.LandingPage-addonType-name {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin: 0 0 6px;
}

@media (min-width: 500px) {
  .LandingPage-addonType-name {
    font-size: 36px;
    margin: 0 0 12px;
  }
}

.LandingPage-heading-content {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  max-width: 600px;
}

@media (min-width: 500px) {
  .LandingPage-heading-content {
    font-size: 18px;
  }
}

.LandingPage .Categories {
  display: none;
}

@media (min-width: 500px) {
  .LandingPage .Categories {
    display: block;
  }
}