
/* Firefox Colors SCSS Variables v1.3.0 */
/* Font mixins. Changes here affect *all* apps */
/* Shared mixins. Bear in mind changes here impact *all* apps. */
.AddonCompatibilityError {
  margin-top: 12px;
}

@media (min-width: 500px) {
  .AddonCompatibilityError {
    margin-top: 0;
  }
}
.MetadataCard {
  background-color: #f9f9fa;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 720px) {
  .MetadataCard {
    margin: 0 -12px;
  }
}

.MetadataCard-list {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 12px;
  max-width: 25%;
}

[dir=rtl] .MetadataCard-list {
  text-align: right;
}

.MetadataCard-list dd {
  line-height: 1.4;
  margin: 0;
  min-height: 18px;
}

.MetadataCard-list dt {
  color: #737373;
  line-height: 1.4;
  word-wrap: break-word;
}