
.Overlay {
  display: none;
}

.Overlay--visible {
  display: block;
}

.Overlay-background {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(5, 104, 186, .9);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Overlay-contents {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
  z-index: 1001;
}

.OverlayCard {
  margin: 0 20px;
  max-width: 768px;
  text-align: center;
  width: 100%;
}

.OverlayCard .Card-contents {
  max-height: 75vh;
  overflow: auto;
}