
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */
.ScreenShots .pswp-thumbnails {
  line-height: 0;
}

.ScreenShots-viewport {
  height: 200px;
}

.ScreenShots-list .pswp-thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  list-style-type: none;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  width: auto;
}

.ScreenShots-list .pswp-thumbnail {
  display: inline-block;
  margin: 0 10px;
}

[dir=ltr] .ScreenShots-list .pswp-thumbnail:first-of-type {
  margin-left: 0;
}

[dir=rtl] .ScreenShots-list .pswp-thumbnail:first-of-type {
  margin-right: 0;
}

.ScreenShots-image {
  cursor: pointer;
  display: inline-block;
  height: 200px;
  width: 320px;
}

.ScreenShots-image,
.pswp__img {
  -o-object-fit: contain;
  object-fit: contain;
}