
/* Firefox Colors SCSS Variables v1.3.0 */

/* Font mixins. Changes here affect *all* apps */

/* Shared mixins. Bear in mind changes here impact *all* apps. */
.show-info {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 10px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 20;
}

@media (min-width: 500px) {
  .show-info {
    left: auto;
    max-width: 400px;
  }
}

[dir=rtl] .show-info {
  left: 10px;
  right: auto;
}

.show-info .info {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.show-info .logo {
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  padding: 20px;
}

.show-info .logo img {
  height: 48px;
  width: 48px;
}

.show-info .copy {
  align-self: stretch;
  -ms-flex-item-align: stretch;
  padding: 20px 20px 20px 0;
}

.show-info .copy :last-child {
  margin: 0;
}

[dir=rtl] .show-info .copy {
  padding: 20px 0 20px 20px;
}

.show-info h3 {
  margin: 0 0 .5em;
}

.show-info p {
  margin-top: 0;
}

.show-info button {
  align-self: stretch;
  background: #2ea3ff;
  border: none;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  color: #ffffff;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: stretch;
  padding: .8em;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.show-info button:focus, .show-info button:hover {
  background: #0996f8;
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Fira Sans Light"), url(https://addons-amo.cdn.mozilla.net/af42317212d492ac0f5ffabd918b8493.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/29430787e85c5dc0a9e8a164fab4a5bf.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/a35b04a47658272244d456dd1cbfeb66.otf) format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Fira Sans Light Italic"), url(https://addons-amo.cdn.mozilla.net/58bf65077b5c26c708a53e4e63cc55e5.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/860c08c400da08cf7a44142c0866aafe.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/3e380267a8088e9c58dbcf224c9f3945.otf) format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), url(https://addons-amo.cdn.mozilla.net/979a13914c3398f40c3114ead422ed41.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/200d5e7cc951bbffda6945f883e3123e.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/e7988865e2e32f23de6205effcc3a95d.otf) format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Fira Sans Regular Italic"), url(https://addons-amo.cdn.mozilla.net/6d9f3ebf6789c130bb19b2d5efcb87b3.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/9a74216339d8a17b8498820e5245d4c0.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/9ae15b27cb0856cac6e422932211091f.otf) format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Fira Sans Medium"), url(https://addons-amo.cdn.mozilla.net/0eff19a04ae3b96909f34d747d538642.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/181fa5a2e6e9b5730eb6fe46c30b5228.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/825e43772be29d80b02fe39500a19bee.otf) format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  src: local("Fira Sans Medium Italic"), url(https://addons-amo.cdn.mozilla.net/a4b5655f2fdbe07f1fe26d5a77ab79a9.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/965651ed4d6b21593be02b7b27c41a4a.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/718bac96ea652141d2a71ca39cff056a.otf) format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Fira Sans Bold"), url(https://addons-amo.cdn.mozilla.net/a1ea7f348ffcb1af730d8bb90d6c7792.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/bf0aaa9c4657f053f06bef1e50208e9f.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/6b7b274cdb71fed31a3ab00827a091d6.otf) format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Fira Sans Bold Italic"), url(https://addons-amo.cdn.mozilla.net/2b8fee7c129fcad1c9014f69ccddc4a5.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/215cae1e77b2c4818f7e058850d3265b.woff) format("woff"), url(https://addons-amo.cdn.mozilla.net/ff1a4e814429997d468ccf5cae66bc9f.otf) format("opentype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), url(https://addons-amo.cdn.mozilla.net/668362de763a7132b42ce73dc1eabb74.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/fe6f746bb376b604b90deff5c62c0a12.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), url(https://addons-amo.cdn.mozilla.net/5cf854f3d1c050a8382d35770855ffd5.woff2) format("woff2"), url(https://addons-amo.cdn.mozilla.net/2abfa530b0d806ee860c7effad759a7d.woff) format("woff");
}